﻿@model List<MVC3.Models.PLUser>

@{
    ViewBag.Title = "Admin Page - Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";   
}

@if (Model.Count > 0)
{
    <h2>All Non-Administrator User Accounts</h2>
    <table>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
                @Html.ActionLink("ID", "SortByUserId", "Admin")
            </th>
            <th>
                @Html.ActionLink("E-Mail Address", "SortByUserEmail", "Admin")
            </th>
        </tr>
        @foreach (var item in Model)
        {     
        <tr>
               @Html.Partial("UserPartial", item)
        </tr>
        }
    </table>
}
@if (Model.Count == 0) { 
    <h2>No Non-Administrator User Accounts</h2>
}