﻿@model MVC3.Models.PLUser        
            
            <td>
                @Html.ActionLink("Details", "UserDetails", "Admin", new { user_id = Model.id, user_email = Model.email }, null)
            </td>
            <td>
                @Html.ActionLink("Songs", "UserSongs", "Admin", new { user_id = Model.id, user_email = Model.email }, null)
            </td>
            <td>
                @Html.ActionLink("Delete", "UserDelete", "Admin", new { user_id = Model.id }, null)
            </td>
            <td>
                @Model.id
            </td>
            <td>
                @Model.email
            </td>