﻿@model MVC3.Models.PLUser

@{
    ViewBag.Title = "Create Account";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";   
}

<h2>Create Account</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Index", "CreateAccount", FormMethod.Post, new { @class = "userdetails" }))
{
    @Html.ValidationSummary(true)
        <fieldset>
            <legend>Create Account</legend>

            <div class="editor-label">
              @ViewBag.message
            </div>
            
            <div class="editor-label">
                E-Mail :
            </div>
            <div class="editor-field">
                @Html.TextBox("email", "")
                @Html.ValidationMessageFor(model => model.email) 
            </div>

            <div class="editor-label">
                Password :
            </div>
            <div class="editor-field">
                @Html.Password("password", "")
                @Html.ValidationMessageFor(model => model.password) 
            </div>

            <div class="editor-label">
                First Name :
            </div>
            <div class="editor-field">
                @Html.TextBox("first_name", "")
                @Html.ValidationMessageFor(model => model.first_name) 
            </div>

            <div class="editor-label">
                Last Name :
            </div>
            <div class="editor-field">
                @Html.TextBox("last_name", "")
                @Html.ValidationMessageFor(model => model.last_name) 
            </div>

            <div class="editor-label">
                Birthdate :
            </div>
            <div class="editor-field">
                @Html.TextBox("birthDay", "")
                @Html.ValidationMessageFor(model => model.birthDay) 
            </div>

            <div class="editor-label">
                Country :
            </div>
            <div class="editor-field">
                @Html.TextBox("country", "")
                @Html.ValidationMessageFor(model => model.country) 
            </div>

            <div class="editor-label">
                State :
            </div>
            <div class="editor-field">
                @Html.TextBox("state", "")
                @Html.ValidationMessageFor(model => model.state) 
            </div>

            <div class="editor-label">
                Access Level [for testing] 0 = User, 1 = Admin:
            </div>
            <div class="editor-field">
                @Html.TextBox("access_level", "") 
                @Html.ValidationMessageFor(model => model.access_level) 
            </div>

            <p>
                <input type="submit" value="Create Account" />
            </p>
        </fieldset>
}