﻿@model MVC3.Models.PLUser

@if (Session["access_level"].ToString() == "0")
{
    ViewBag.Title = "View User Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@if (Session["access_level"].ToString() == "1")
{
    ViewBag.Title = "View User Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    @if (Session["id"].ToString() != @Model.id)
    {
        <h2>View User @(Model.email)'s Account Details</h2>
    }
    
    @if (Session["id"].ToString() == @Model.id)
    {
        <h2>View Your Account Details</h2>
    }
    <table>
        @if (Session["access_level"].ToString() == "1")
        {
        <tr>
            <td>
            <b>User ID : </b>
            </td>
            <td>
                @Model.id
            </td>
        </tr>
        }
        <tr>
            <td>
            <b>E-mail Address : </b>
            </td>
            <td>
                @Model.email
            </td>
        </tr>
        <tr>
            <td>
            <b>Password :</b>
            </td>
            <td>
                @Model.password
            </td>
        </tr>
        <tr>
            <td>
            <b>First Name : </b>
            </td>
            <td>
                @Model.first_name
            </td>
        </tr>
        <tr>
            <td>
            <b>Last Name : </b>
            </td>
            <td>
                @Model.last_name
            </td>
        </tr>
        <tr>
            <td>
            <b>Birth Date : </b>
            </td>
            <td>
                @Model.birthDay
            </td>
        </tr>
        <tr>
            <td>
            <b>Country : </b>
            </td>
            <td>
                @Model.country
            </td>
        </tr>
        <tr>
            <td>
            <b>State : </b>
            </td>
            <td>
                @Model.state
            </td>
        </tr>
    </table>
    @if (@Model.id != Session["id"])
    {
        @Html.ActionLink("Update Account Details", "UpdateUserDetails", Model)
    }
    @if (@Model.id == Session["id"])
    {
        @Html.ActionLink("Update Account Details", "UpdateDetails", "User")
    }
