﻿@model List<MVC3.Models.PLSong>

@if (Session["access_level"].ToString() == "0")
{
    ViewBag.Title = "User Page - All Songs Owned by User";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@if (Session["access_level"].ToString() == "1")
{
    ViewBag.Title = "User Page - All Songs Owned by User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if(Model.Count > 0){
    if (@Model[0].user.id != Session["id"].ToString()){ 
        <h2>Songs in User @(Session["email"].ToString())'s Library</h2>
    }
    if (@Model[0].user.id == Session["id"].ToString()){ 
        <h2>Songs in Your Library</h2>
    }
    <table>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            @if (Session["access_level"].ToString() == "1")
            {  
            <th>
                @Html.ActionLink("ID", "SortBySongId", "User", new { user_id = Model[0].user.id }, null)
            </th>
            }
            <th>
                @Html.ActionLink("Name", "SortBySongName", "User", new { user_id = Model[0].user.id }, null)
            </th>
            <th>
                @Html.ActionLink("Artist", "SortBySongArtist", "User", new { user_id = Model[0].user.id }, null)
            </th>
        </tr>
        @foreach (var item in Model)
        {     
        <tr>
             <td>
                @Html.ActionLink("Download", "Download", "Song", new { song_id = item.id }, null)
            </td>
            <td>
                @Html.ActionLink("Details", "Index", "Song", new { song_id = item.id }, null)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", "Song", new { song_id = item.id }, null)
            </td>
            @if (Session["access_level"].ToString() == "1")
            {
                <td>
                @item.id
                </td>
            }
            <td>
                @item.name
            </td>
            <td>
                @item.artist_name
            </td>
        </tr>
        }
    </table>
}

@if (Model.Count == 0)
{
    <h2>No Songs Associated with this Account</h2>
}
