﻿@model MVC3.Models.PLUser

@if (Session["access_level"].ToString() == "0")
{
    ViewBag.Title = "Update User Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@if (Session["access_level"].ToString() == "1")
{
    ViewBag.Title = "Update User Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    @if (@Model.id != Session["id"].ToString())
    {
        @Html.ActionLink("Back", "GetUserDetails", Model)
        <h2>Update User @(Model.email)'s Details</h2>
    }
    @if (@Model.id == Session["id"].ToString())
    {
        <h2>Update Your Account Details</h2>
    }
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    @using (Html.BeginForm("UpdateDetails", "User", FormMethod.Post, new { @class = "userdetails" }))
    {
        @Html.ValidationSummary(true)
            <fieldset>
                <legend>Account Details</legend>

                @Html.Hidden("user_id", @Model.id)
                @Html.Hidden("access_level", @Model.access_level)

                <div class="editor-label">
                  @ViewBag.message
                </div>
            
                <div class="editor-label">
                    E-Mail :
                </div>
                <div class="editor-field">
                    @Html.TextBox("email", @Model.email)
                    @Html.ValidationMessageFor(model => model.email)
                </div>

                <div class="editor-label">
                    Password :
                </div>
                <div class="editor-field">
                    @Html.Password("password", @Model.password)
                    @Html.ValidationMessageFor(model => model.password)
                </div>

                <div class="editor-label">
                    First Name :
                </div>
                <div class="editor-field">
                    @Html.TextBox("first_name", @Model.first_name)
                    @Html.ValidationMessageFor(model => model.first_name)
                </div>

                <div class="editor-label">
                    Last Name :
                </div>
                <div class="editor-field">
                    @Html.TextBox("last_name", @Model.last_name)
                    @Html.ValidationMessageFor(model => model.last_name)
                </div>

                <div class="editor-label">
                    Birthdate :
                </div>
                <div class="editor-field">
                    @Html.TextBox("birthDay", @Model.birthDay)
                    @Html.ValidationMessageFor(model => model.birthDay)
                </div>

                <div class="editor-label">
                    Country :
                </div>
                <div class="editor-field">
                    @Html.TextBox("country", @Model.country)
                    @Html.ValidationMessageFor(model => model.country)
                </div>

                <div class="editor-label">
                    State :
                </div>
                <div class="editor-field">
                    @Html.TextBox("state", @Model.state)
                    @Html.ValidationMessageFor(model => model.state)
                </div>

                <p>
                    <input type="submit" value="Submit Updated Information" />
                </p>
            </fieldset>
    }
