﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>@ViewBag.Message</h2>
<p>
    Welcome to CSE 136 Group 18 project.  This project simulates a dropbox-style application centralized around music.  Click 'Log On' to continue.  
</p>
<p>
    If you do not have an account with this application, click on the 'Create Account' button and submit your credentials.  Upon doing so, you can then
    log into the application using these credentials.
</p>
