﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/HomeSite.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>Group 18 Project - Home Page</h1>
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li>@Html.ActionLink("About", "Index", "Home")</li>
                    <li>@Html.ActionLink("Log In", "Index", "Login")</li>
                    <li>@Html.ActionLink("Create Account", "Index", "CreateAccount")</li>

                </ul>

            </div>
        </div>

        

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
