﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/UserSite.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>Group 18 Project - User Page</h1>
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li>@Html.ActionLink("Search", "Search", "Song")</li>
                    <li>@Html.ActionLink("Upload", "Upload", "Song")</li>
                    <li>@Html.ActionLink("Index", "Index", "User")</li>
                    <li>@Html.ActionLink("Account Info", "Details", "User")</li>
                    <li>@Html.ActionLink("Log Out", "LogOff", "Login")</li>

                </ul>

            </div>
            @{ MVC3.Models.Breadcrumb bcrumb = new MVC3.Models.Breadcrumb(); }
            <div id="breadcrumb">@Html.Partial("Breadcrumb", bcrumb)</div>

        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>