﻿/* PINT INC */

* { border: 0px solid red; }

/* BASIC ELEMENTS
------------------------------------------------------------------------------------- */
* { margin:0; padding:0; }
html { margin:0px; padding:0px; }

#skip{display:none}
body { font-size:11px; font-family:arial, helvetica, sans-serif; color:#7a7a7a; background:#FFF url(../images/bg_body_class.jpg) repeat-x 0 0px; }
body.home { background:#FFF url(../images/bg_body.gif) repeat-x 0 0; }
* html body { text-align:left; } /*header fix for ie6*/

* html #leftside, * html #center, * html #rightside, * html #center_content { height: 500px; }

a:link { color:#4DA6C4; text-decoration:none; }
a:visited { color:#5E92A3; text-decoration:none; }
a:hover, a:active { /*color:#AFE0EF;*/ color:#488598; text-decoration:none; }

li.centerlinks	{list-style: none; padding:10px 10px 0px 10px; background:url(../images/s_bullet.gif) no-repeat 0 15px; }
li	{list-style: none; padding:5px 10px 0px 5px;  }

#schedule .week {font-weight: bold; padding-top: 20px;}
#schedule .week ul li {font-weight: normal;} 

ol { margin-left:20px; }
ol li { list-style:decimal; }

/* classes
------------------------------------------------------------------------------------- */
#container	{ position: relative; margin: auto; width: 990px; }
#header_bar { background: url(../images/class_header.jpg) no-repeat; width:990px; height:620px; }

#header_text	{ padding-top: 33px; padding-left: 12px; }
h1	{ font-family: arial, sans-serif; font-size: 26px; color: #7a7a7a; letter-spacing: .1em; }
h2	{ font-family: arial, sans-serif; font-size: 16px; color: #7a7a7a; padding:15px 0px 0px 0px; letter-spacing: .1em; }
h4	{ font-family: arial, sans-serif; font-size: 16px; color: #f9a10b; padding:15px 0px 0px 0px; letter-spacing: .1em; }

#leftside	{ float: left; margin:5px 0 0 15px; width:152px; height: 300px; min-height: 500px; }
#school_box_1	{ width:152px; padding-bottom: 10px; background: #eff8fa; }
#school_box_2	{ width:152px; padding-bottom: 10px; background: #eff8fa; }

#center	{ float: left; width: 475px; height:500px; background: url(../images/classbooks.jpg) -25px 0 no-repeat; margin: 10px 0 0 10px;  min-height: 500px; }
#center_text	{ margin: 10px 30px 0 30px }

#rightside	{ float: right; margin: 10px 0 0 0; width: 314px; position: relative; right: 15px;  min-height: 500px;}

#current_class	{ width:314px; background: #ececec url(../images/current_class.jpg) no-repeat; margin-bottom: 10px; }
#upcoming_class	{ width:314px; background: #ececec url(../images/upcoming_class.jpg) no-repeat; margin-bottom: 10px; }
#info	{ width: 314px; height: 93px; background: url(../images/info.jpg) no-repeat; }

.text	{ padding: 30px 10px 10px 10px; }

.white	{ font-size:11px; font-family:arial, helvetica, sans-serif; color: white; }
.white a:link { color:white; text-decoration:none; }
.white a:visited { color:#d0d2d2; text-decoration:none; }
.white a:hover, a:active { /*color:#AFE0EF;*/ color:#488598; text-decoration:none; }

.classhome { position: relative; background: url(../images/class_home.jpg) no-repeat bottom left; float: right; width:163px; height:42px; display: block; margin-top:-46px; }

/*.classhome:hover	{ background: url(../images/class_home.jpg) no-repeat top left; } */

.pinthome { position: relative; background: url(../images/pint_home.jpg) no-repeat bottom left ; float: left; width:162px; height:42px; display: block; margin-top:-46px; left:665px; }

/*
.pinthome:hover { background:transparent url(../images/pint_home.jpg) no-repeat scroll left top; 
}
*/

#center_content {text-align: justify; font-size: 115%;}

#center_content p {
	margin: .5em 0 .5em 0;
	line-height: 125%;
}

.courseSubhead {padding-top: 0px;}
address.contact { font-style: normal; padding:15px 0px 0px 0px; }


/* classes 2
------------------------------------------------------------------------------------- */

#center_content	{ float: left; clear: right; width: 700px; height:500px; min-height: 500px; margin: 10px;}
#center_content_text	{ padding: 10px 30px 20px 30px; }

/* Corp ID
------------------------------------------------------------------------------------- */
#id_header	{ width: 962px; height: 131px; background: url(../images/id_header_1.jpg) no-repeat; margin: auto; margin-top: 10px;}
#id_nav	{ width: 962px; height: 39px; background: url(../images/id_nav.jpg) no-repeat; margin: auto; margin-top: 10px; display: block; list-style: in-line; }
#center_text_id	{ margin: -10px 30px 0 30px;  }
.overview {float:left; }
.colors {float:left; }
.logo {float:left; }
.type {float:left; }
.downloads {float:left; } 