﻿@model MVC3.Models.PLSong

@if (Session["access_level"].ToString() == "0"){
    ViewBag.Title = "Song Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@if(Session["access_level"].ToString() == "1"){
  ViewBag.Title = "Song Details";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (Session["access_level"].ToString() == "1") {
    @Html.ActionLink("Back", "UserSongs", "Admin", new { user_id = @Model.user.id, user_email = @Model.user.email }, null)
}
<h2>Song Details</h2>
<table>
        @if(Session["access_level"].ToString() == "1") {
        <tr>
        <td>Song ID :</td>
        <td> @(Model.id) </td>
        </tr>
        }
        <tr>
        <td>Name :</td>
        <td>@Model.name </td>
        </tr>
        <tr>
        <td>Artist : </td>
        <td>@Model.artist_name </td>
        </tr>
        <tr>
        <td>Album Name : </td>
        <td>@Model.album_name </td>
        </tr>
        <tr>
        <td>Album Year : </td>
        <td>@Model.album_year </td>
        </tr>
        <tr>
        <td>Genre : </td>
        <td>@Model.genre_name</td>
        </tr>
        <tr>
        <td>Owner : </td>
        <td>@Model.user.email </td>
        </tr>
        <tr>
        <td>Downloads : </td>
        <td>@Model.download_count </td>
        </tr>
</table>
@if(@Model.user.id == Session["id"].ToString() || Session["access_level"].ToString() == "1") {
@Html.ActionLink("Update Song Details", "UpdateDetails", "Song", new { song_id = @Model.id }, null);
}
