﻿@model MVC3.Models.PLSong

@if (Session["access_level"].ToString() == "0")
{
    ViewBag.Title = "Song Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@if(Session["access_level"].ToString() == "1")
{
  ViewBag.Title = "Song Details";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2>Song Search</h2>

@using (Html.BeginForm("Search", "Song", FormMethod.Post, new { @class = "search" }))
{
    @Html.ValidationSummary(true)
        <fieldset>
            <legend>Search</legend>
            <div class="editor-label">
                Value :
            </div>
            <div class="searchfield">
                @Html.TextBox("search_term", "")
                @Html.ValidationMessageFor(model => model.search_term) 
            </div>

            <div class="editor-label">
                Search by :
            </div>
            <div class="search-type">
                <select name="search_by">
                    <option value="user">User E-mail</option>
                    <option value="artist">Artist</option>
                    <option value="album">Album</option>
                    <option value="genre">Genre</option>
                    <option value="year">Year</option>
                </select>
            </div>
            <p>
                <input type="submit" value="Search" />
            </p>
        </fieldset>
}