﻿@model List<MVC3.Models.PLSong>

@if (Session["access_level"].ToString() == "0")
{
    ViewBag.Title = "Song Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@if(Session["access_level"].ToString() == "1")
{
  ViewBag.Title = "Song Details";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if(Model.Count > 0){
    <h2>Search Results</h2>
    <table>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            @if (Session["access_level"].ToString() == "1")
            {  
            <th>
                @Html.ActionLink("ID", "SortBySongId", "Song")
            </th>
            }
            <th>
                @Html.ActionLink("Name", "SortBySongName", "Song")
            </th>
            <th>
                @Html.ActionLink("Artist", "SortBySongArtist", "Song")
            </th>
        </tr>
        @foreach (var item in Model) {     
        <tr>
            @if (@item.user.id == Session["id"].ToString() || Session["access_level"].ToString() == "1"){
            <td>
                @Html.ActionLink("Delete", "Delete", "Song", new { song_id = item.id }, null)
            </td>
            }
            @if (@item.user.id != Session["id"].ToString() && Session["access_level"].ToString() != "1"){
            <td>Delete</td>
            }
             <td>
                @Html.ActionLink("Download", "Download", "Song", new { song_id = item.id }, null)
            </td>
            <td>
                @Html.ActionLink("Details", "Index", "Song", new { song_id = item.id }, null)
            </td>
            @if (Session["access_level"].ToString() == "1")
            {  
                 <td>
                 @item.id
                 </td>
            }
            <td>
                @item.name
            </td>
            <td>
                @item.artist_name
            </td>
        </tr>
        }
    </table>
}

@if (Model.Count == 0)
{
    <h2>No Search Results</h2>
}
