﻿@model MVC3.Models.PLSong

@if (Session["access_level"].ToString() == "0")
{
    ViewBag.Title = "Song Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@if (Session["access_level"].ToString() == "1")
{
    ViewBag.Title = "Song Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2>Update Your Song Details</h2>
@using (@Html.BeginForm("UpdateDetails", "Song", FormMethod.Post, new { @class = "songdetails"})) {
    @Html.ValidationSummary(true)
        <fieldset>
            <legend>Song Details</legend>
            
            <div class="editor-label">
              @ViewBag.message
            </div>

            @Html.Hidden("id", @Model.id)
            @Html.Hidden("download_count", @Model.download_count)
            @Html.Hidden("user_id", @Model.user.id)

            <div class="editor-label">
                Name :
            </div>
            <div class="editor-field">
                @Html.TextBox("name", @Model.name)
                @Html.ValidationMessageFor(model => model.name) 
            </div>

            <div class="editor-label">
                Artist :
            </div>
            <div class="editor-field">
                @Html.TextBox("artist_name", @Model.artist_name)
                @Html.ValidationMessageFor(model => model.artist_name) 
            </div>

            <div class="editor-label">
                Album Name :
            </div>
            <div class="editor-field">
                @Html.TextBox("album_name", @Model.album_name)
                @Html.ValidationMessageFor(model => model.album_name) 
            </div>

            <div class="editor-label">
                Album Year :
            </div>
            <div class="editor-field">
                @Html.TextBox("album_year", @Model.album_year)
                @Html.ValidationMessageFor(model => model.album_year) 
            </div>

            <div class="editor-label">
                Genre :
            </div>
            <div class="editor-field">
                @Html.TextBox("genre_name", @Model.genre_name)
                @Html.ValidationMessageFor(model => model.genre_name) 
            </div>

            <p>
                <input type="submit" value="Submit Updated Information" />
            </p>
        </fieldset>
}