﻿@model MVC3.Models.PLSong

@if (Session["access_level"].ToString() == "0"){
    ViewBag.Title = "Song Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@if(Session["access_level"].ToString() == "1"){
  ViewBag.Title = "Song Details";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Upload", "Song", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)
        <fieldset>
            <legend>Song Details</legend>

            <div class="editor-label">
              @ViewBag.message
            </div>

            <div class="editor-label">
                Name :
            </div>
            <div class="editor-field">
                @Html.TextBox("name", "")
                @Html.ValidationMessage("name") 
            </div>

            <div class="editor-label">
                Artist :
            </div>
            <div class="editor-field">
                @Html.TextBox("artist_name", "")
                @Html.ValidationMessageFor(model => model.artist_name) 
            </div>

            <div class="editor-label">
                Album Name :
            </div>
            <div class="editor-field">
                @Html.TextBox("album_name", "")
                @Html.ValidationMessageFor(model => model.album_name) 
            </div>

            <div class="editor-label">
                Album Year :
            </div>
            <div class="editor-field">
                @Html.TextBox("album_year", "")
                @Html.ValidationMessageFor(model => model.album_year) 
            </div>

            <div class="editor-label">
                Genre :
            </div>
            <div class="editor-field">
                @Html.TextBox("genre_name", "")
                @Html.ValidationMessageFor(model => model.genre_name) 
            </div>

            <div class="editor-label">
                File Location :
            </div>
            <div class="editor-field">
                <input type="file" name="file" data-val="true" data-val-required="A file must be selected." name="file" />
                @Html.ValidationMessage("file")
            </div>
            <p>
                    <input type="submit" value="Submit New Song" />
            </p>
        </fieldset>
}