/* css reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* Body Theme */
html{
	height : 100%
}
body {
	height: 100%;
	font-family : Verdana, Geneva, sans-serif;
}
.icon-height{
	line-height : 1.3;
	padding: 0 5px 0 5px;
	float:left;
}

.show_hide {
    display:none;
}

#frame { 
	min-width: 960px;
	/*min-height: 560px;*/
	width : 100%;
	height : 100%;
}

#frame > header{
	width : 100%;
	min-height : 65px;
}

#frame > footer{
	width : 100%;
	min-height : 190px;
}

header#toolbar {
	position : fixed;
	top : 0px;
	left : 0px;
	z-index : 10;
	min-width: 960px;
	min-height: 30px;
	width: 100%;
	height: 30px;
	background: #333;
}

header#toolbar > section#logo img{
	float:left;
	padding-left:10px;
	width : 20px;
	height : 20px;
}

section#canvas{ 
	width: 100%;
	min-height: 100%;
	height : 100%;
}

section#canvas > section#pad{
	position : relative;
	margin : 10px auto;
	border : 1px ridge #ececec;
    box-shadow: 3px 3px 5px whitesmoke;
    min-width : 100px;
    min-height : 100px;
    background : #fff;
    width : 95%;
    height : 69.5%;
	background:url(../images/grid_20px.gif);
	background-repeat:repeat;
}

/* canvas */

.draggable{
	width : inherit;
	height : inherit;
}

.resizeable{
	height : inherit;
	min-width : 92px;
	min-height : 92px;	
    -ms-user-select: none;
    -khtml-user-select: none;
    -o-user-select : none;
    -webkit-user-select : none;
    -moz-user-select : none;
    user-select : none;	
}

.grid{
	border : 1px dotted #000;
	display : block;
	min-width : 100px;
	min-height : 100px;
	position : relative;
}

.grid > .menu{
	display : none;
	border : 1px dotted #ddd;
	position : absolute;
	top: 0px;
	right : 0px;
	background : #000;
	color : #fff;
}

.grid > .menu li{
	float : left;
	cursor : pointer;
}

.grid > .info{
	display : none;
	border : 1px dotted #ddd;
	position : absolute;
	bottom: 0px;
	left : 0px;
	background : #000;
	color : #fff;
	font-size : 9px;
	font-variant : small-caps;
	padding : 3px;
}

.pointer{
	cursor : pointer;
}

/* library */

#library{ 
	position : fixed;
	bottom : 0px;
	left : 0px;
	z-index : 10;
	width: 100%;
	height:180px;
}

#library header{ 
	width: 100%;
	height: 30px;
	background : #333;
	outline: #555 solid;
	outline-width:1px;
	color : #fff;
}

#tabs{ 
	width: 100%;
	height: 30px;
	background: #E2E2E2;
	outline: #444 solid;
	outline-width:1px;
}

#elements{ width: 100%;
	overflow:scroll;
	background-color: gray;
	height: 120px;
}

/* Search Box */
#searchBox {
	margin-top:3px;
	height: 27px;
	padding-right: 10px;
	float:right;
}

/* Menu Bar */

#logo {
	padding: 5px 100px 0px 5px;
	float:left;
}

#logo h2 {
	font-family:Verdana, Geneva, sans-serif;
	color:white;
	margin:0px 0 0 10px;
	padding:0;
	float:left;
}

/* Library Divs */

.resizeable{
	position : relative;
}

.resizeable > .title{
	text-align : center;
	position : absolute;
	bottom : 10px;
	right : 0%;
	color : #ddd;
	background : #333;
	padding : 3px;
	font-size : 10px;
	border-radius : 5px;
}

#shell{
	height:73px;
}

.element1 {
	float:left;
	width: auto;
	height: 73px;
	margin: 5px 50px 5px 5px;
	padding: 6px 8px 10px 8px;
	background-color:white;
	border-style:dashed;
	border-width: 1px;
	border-color: black;
	border-radius: 10px;
	overflow: hidden;
	max-width: 250px;
}
.element1:hover {
	border-color: yellow;
	border-style: solid;
	border-width: 1px;
	
}
/* element css */
#standardbtn {
	text-align:center;
} 

#sbtn {
	width: 100px;
	height: 30px;
	border: 2px solid black;
	vertical-align:middle;
	border-radius: 5px;
	background-color:#EEE;
	text-align:center;
}
.sbtntext {
	padding: 5px 5px 5px 5px;
	display:block;
	font-size: 10px;
}
#libImage {
	width:90px;
	height:73px;
	text-align:center;
	border: 2px solid black;
	background-repeat:no-repeat;
	background-color: white;
	overflow: hidden;
}
#libBrowserUrlBox {
	background-color: white;
	width:60%; 
	height:12px; 
	border: 1px solid black;
	display:inline-block; 
	padding: 3px 0 3px 3px; 
	margin: 3px 0 0 0; 
	font-size: 10px; 
	border-radius: 5px;
}
#libBrowserOuterFrame {
	border: 2px solid black;
	min-width:225px;
	width: 225px;
	height: 73px;
	position:relative;
}
#libBrowserHeader{
	width:100%;
	height: 28px;
	padding-top: 3px;
	border-bottom:2px solid black;
	display:block;
	background-color:#EEE;
	position:absolute; 
	top:0px; 
	left:0px;
}

#libBrowserHeader > .icon-caret-left{
	padding: 0 5px 0 5px;
}

#libBrowserHeader > .icon-caret-right{
	padding: 0 5px 0 5px;
}

#libBrowserHeader > .icon-home{
	padding: 0 10px 0px 0px;
}



#libBrowserFooter{
	border-top: 2px solid black;
	background-color:#EEE;
	height: 12px;
	position:absolute; 
	bottom:0px; 
	left:0px; 
	width:inherit;
}
#libBrowserContent{
	min-height: 40px;
	background-color: white;
	opacity:.3;	 
}

#libButtonBarBox {
	width: 235px;
	height:73px;
	border-radius: 10px;
	overflow:hidden;
	background: white;
	margin: 0;
	padding: 0 0 0 0;
	border: 2px solid black;
	min-width: 250px;
}
.libButtonBarItemFirst {
	position: relative;
	display:inline-block;
	top: 0px;
	border-right:2px solid black;
	font-size: 10px;
	text-align: center;
	padding: 3% 1% 1% 1%;
	width: 22%;
	float: left;
	height: 100%
}

.libButtonBarItemMiddle {
	position: relative;
	display:inline-block;
	top: 0px;
	border-right:2px solid black;
	font-size: 10px;
	text-align: center;
	padding: 3% 1% 1% 1%;
	width: 22%;
	float: left;
	height: 100%
}

.libButtonBarItemLast {
	position: relative;
	display:inline-block;
	top: 0px;
	font-size: 10px;
	text-align: center;
	padding: 3% 1% 1% 1%;
	width: 22%;
	float: left;
	height: 100%
}

#libDummyContainer{
	width: 250px;
	height: 73px;
}

#libDummyText{
	width: 100%;
	height: inherit;
	overflow: hidden;
	font-size: 10px;
}

#libSearchBox{
	min-width: 160px;
	width:150px;
}

#libSearchField{
	height: 15px;
	width:80%;
	border: 2px solid black;
	border-radius: 10px;
	margin-left: 30px;
	background-color:white;
}

#libCheckBox{
	width : 120px;
	height : 30px;
}

#libCheckBox span{
	float : left;
	margin-left : 10px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#libCheckField{
	border : 1px solid #333;
	width : 10px;
	height : 10px;
	float : left;
}

#libComboBox{
	width : 120px;
	height : 25px;
}

#libComboField{
	border : 1px solid #333;
	width : 120px;
	height : inherit;
}

#libComboField div{
	padding : 3px;
	float : left;
}

#libComboField div:last-child{
	border-left : 1px solid #333;
	padding-left : 4px;
}

#libRadioBox{
	width : 120px;
	height : 25px;
}

#libRadioField{
	width : 120px;
	height : 25px;
}

#libRadioField div{
	padding-left : 3px;
	float : left;
	font-size : 14px;
}

#libAccordin{
	width : 150px;
	height : 80px;
	border : 1px solid #333;
}

#libAccordin div{
	padding : 3px 0px;
	float : left;
	height : 10px;
	width : 150px;
	font-size : 11px;
	border-bottom : 1px solid #333;
}

#libAccordin div:last-child{
	border-bottom : 0px solid #333;
}

#libAccordin .expand{
	height : 20px;
}

#libTabbar{
	width : 150px;
	height : 80px;
}

#libTabbar ul{
	width : inherit;
	height : 15px;
	list-style-type:none;
}

#libTabbar li{
	float : left;
	border-top-left-radius : 8px;
	border-top-right-radius : 8px;
	background : #333;
	color : #fff;
	font-size : 10px;
	margin : 0px 3px;
	padding : 3px;
}

#libTabbar div{
	border : 1px solid #333;
	padding : 3px;
	width : inherit;
	height : 30px;
	font-size : 10px;
}

#libVerticalTab{
	width : 150px;
	height : 80px;
}


#libVerticalTab > div{
	width : 45px;
	height : 70px;
	float : left;
}
#libVerticalTab > div:last-child{
	border : 1px solid #333;
	width : 80px;
	padding : 3px;
	font-size : 10px;
}

#libVerticalTab ul{
	width : inherit;
	height : 15px;
	width : 40px;
	list-style-type:none;
}

#libVerticalTab li{
	float : left;
	background : #333;
	color : #fff;
	font-size : 10px;
	margin : 3px 0px;
	padding : 3px;
	width : 40px;
}

#libVerticalTab li:first-child{
	margin-top : 0px;
}

#libTabbar div{
	border : 1px solid #333;
	padding : 3px;
	width : inherit;
	height : 30px;
	font-size : 10px;
}

#libLinkbar{
	font-size : 9px;
	padding : 5px;
	height : 20px;
}

#libLinkbar .link{
	color : blue;
	text-decoration : underline;
}

#libTable{
	width : 200px;
	height : 50px;
}

#libTable table{
	width : 98%;
	border : 1px solid #333;
}

#libTable table tr th{
	font-weight : normal;
	background : #333;
	color : #fff;
	font-size : 10px;
	padding : 3px 0px;
}

#libTable table tr td{
	font-weight : normal;
	font-size : 10px;
	padding : 3px;
}

#libTable table tr:nth-child(2n+1){
	background : #ececec;
}

#libFormatBar{
	width : 200px;
	height : 20px;
}

#libFormatBar > div {
	border : 1px solid #333;
	padding : 3px;
	height : 73px;
	width : 193px;
}

#libFormatBar > div > i, #libFormatBar > div > div{
	float : left;
	margin : 0px 3px;
}
 #libFormatBar > div > div{
 	border : 1px solid #333;
 	font-size : 10px;
 	padding : 3px;
 }

#libHeaderBox{
	width:100px;
	height:30px;
	text-align:left;	
}
.libHeader {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:16px;
}

#libTextBoxContainer {
	border: 2px solid black;
	text-align: center;
	padding: 3px;	
	font-size: 10px;
}

#libDatePickerContainer {
	border: 2px solid black;
	width: 60px;
	text-align: left;
	padding: 3px;	
	font-size: 10px;
	float:left;
}

#libListContainer {
	border: 2px solid black;
	text-align: left;
	padding: 3px;	
	font-size: 12px;
	line-height: 1.5;
}

#libNumStepperContainer {
	border: 2px solid black;
	text-align: right;
	padding: 3px;	
	font-size: 12px;
	line-height: 1.5;
	float:right;
	width: 80px;
}

#elementContainer {
	width: 6000px;
}

#palette{ 
	width: 225px;
	position: fixed;
	right: 50px;
	top: 300px;
	z-index : 9999;
	background : #333;
	border : 2px solid #eee;
	color : #fff;
	font-size : 11px;
    box-shadow: 3px 3px 5px whitesmoke;	
    border-radius : 8px;
    -ms-user-select: none;
    -khtml-user-select: none;
    -o-user-select : none;
    -webkit-user-select : none;
    -moz-user-select : none;
    user-select : none;
}

.paletteTop {
	text-align: right;
	margin-bottom: 5px;	
}

.paletteBottom {
	text-align: right;	
}	

#palette > header{
	text-align : center;
	text-transform : capitalize;
	padding : 3px;
	color : #ccc;
	border-bottom : 1px solid #222;
}

#palette > header > i{
	font-size : 14px;	
	position : absolute;
	left : 3px;
}

#whxy{ 
	background : #222;
	height : 63px;
	padding: 5px;
	text-transform : capitalize;
	padding: 10px;
	border-radius : 8px 8px 8px 8px;
}
#whxy label{
	width : 50px;
	text-align : right;
}
#whxy input{
	width : 50px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	/*
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0, 0.075);
	*/
	background : #cecece;
	color : #222;
	border: 1px solid #CCC;
}

#whxy i{
	font-size : 13px;
	padding : 1px;
	margin : 0px 3px;
	cursor : pointer;
	float : left;
}

#whxy fieldset > div > span{
	padding : 3px;
}

#whxy fieldset > div > div{
	border : 1px solid #666;
	margin : 0px 3px;
}	

#whxy fieldset > div > div, #whxy fieldset > div > div > span{
	float : left;
}

#whxy i:hover{
	background : #ddd;
	color : #333;
	
}
#palette > footer{
	color : #ccc;
	border-bottom : 1px solid #222;
}

#palette > footer ul,#palette > footer span{
	float : left;
}

#palette > footer span{
	padding : 6px;
	font-size : 9px;
	font-weight : bold;
}

#palette > footer ul{
	list-style-type : none;
}

#palette > footer ul li{
	float : left;
	border-radius : 8px 8px 8px 8px;
	background : #ddd;
	color : #333;
	font-size : 9px;
	padding : 3px 5px 3px 5px;
	margin : 3px 5px 3px;	
}

#palette > footer ul li:hover{
	background : #ff3366;
	color : #ddd;
}

#palette > footer ul li.selected{
	background : #0084B4;
	color : #fff;	
}

/* tabs */

#tabs ul > li{
	float : left;
	border-radius : 8px 8px 0px 0px;
	background : #333;
	color : #ddd;
	font-size : 13px;
	padding : 3px 5px 3px 5px;
	margin : 11px 5px 0px;
}

#tabs ul > li:first-child{
	margin-left : 10px;
}

#tabs ul > .pointer:hover{
	background : #ff3366;
	margin-top : 4px;
	height:20px;
}

#tabs ul > .selected{
	background : #0084B4;	
}

/*css menu*/
ul#css3menu1,ul#css3menu1 ul{
	margin:0;
	list-style:none;
	padding:0;
	background-color:#dedede;
}
ul#css3menu1 ul{
	display:none;
	position:absolute;
	left:0;top:100%;
	border-style:solid; 
	border-width:1px; 
	border-color:black;
	box-shadow:3.5px 3.5px 5px #000000;
	background-color:#FFFFFF;
	border-color:#d4d4d4;
	padding:0 10px 10px;
	}
ul#css3menu1 li:hover>* {
	display:block;
	}
ul#css3menu1 li{
	position:relative;
	display:block;
	white-space:nowrap;
	font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	opacity:1;
	z-index:1000;
}
ul#css3menu1{
	font-size:0;
	width:100%;
	z-index:999;
	position:relative;
	display:inline-block;
	padding:0 0%;
	margin:0 0%;
	}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;width:33%;}
ul#css3menu1 li.toplast{
	width:34%;
	}
body:first-of-type ul#css3menu1{
	display:inline-table;
	border-spacing:0px 0;
	}
body:first-of-type ul#css3menu1>li{
	display:table-cell;
	float:none;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	font:14px Verdana,Geneva,sans-serif;
	color:#ffffff;
	padding:10px;
	
	background-color:#333;

	background-repeat:repeat;
	background-position:0 0;
	border-width:0 0 0 0;
	border-style:solid;border-color:#C0C0C0;
}
	
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#66ccff;
	color:#FFFFFF;
	text-decoration:none;
	}
ul#css3menu1 ul li{
	float:none;margin:10px 0 0 0;}
ul#css3menu1 ul a{
	text-align:left;
	padding:4px;
	background-color:#FFFFFF;
	background-image:none;
	border-width:0;
	font:14px verdana;
	color:#000;
	text-decoration:none;
	
	}

ul#css3menu1 span{
	display:block;
	overflow:visible;
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:0px;
	}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#FFFFFF;
	background-image:none;
	color:#0080ff;
	text-decoration:none;
	
	}
ul#css3menu1 li.topfirst>a{
	}
ul#css3menu1 li.toplast>a{
	}
ul#css3menu1>li:nth-child(1){
	width:30%
	}

ul#css3menu1>li:nth-child(2){
	width:32%
}
ul#css3menu1>li:nth-child(3){
	width:38%
	}


body:first-of-type ul#css3menu1{
	display:inline-block} 
body:first-of-type ul#css3menu1>li{
	display:block;
	float:left !important;
}
@media only screen and (max-width:174px),only screen and (max-device-width:174px){
ul#css3menu1>li:nth-child(1){
	width:49%}

ul#css3menu1>li:nth-child(2){
	width:51%
	}
ul#css3menu1>li:nth-child(3){
	width:100%
	}
body:first-of-type ul#css3menu1{
	display:inline-block
	} 
body:first-of-type ul#css3menu1>li{
	display:block;
	float:left !important;
	}}
@media only screen and (max-width:109px),only screen and (max-device-width:109px){
ul#css3menu1>li:nth-child(1){
	width:49%}
ul#css3menu1>li:nth-child(2){
	width:51%}
ul#css3menu1>li:nth-child(3){
	width:100%}}
.filemenuitem{
	padding-left: 4px;
}

/*qtip*/
.ui-tooltip,.qtip{position:absolute;left:-28000px;top:-28000px;display:none;max-width:280px;min-width:50px;font-size:10.5px;line-height:12px;border-style:solid;border-width:1px}
.ui-tooltip-fluid{display:block;visibility:hidden;position:static!important;float:left!important}
.ui-tooltip-content{position:relative;text-align:left;/*word-wrap: break-word; */overflow:hidden;padding:5px 9px}
.ui-tooltip-titlebar{position:relative;min-height:14px;overflow:hidden;font-weight:700;border-width:0 0 1px;padding:5px 35px 5px 10px}
.ui-tooltip-titlebar + .ui-tooltip-content{border-top-width:0!important}
.ui-tooltip-titlebar .ui-state-default{position:absolute;right:4px;top:50%;margin-top:-9px;cursor:pointer;outline:medium none;border-style:solid;border-width:1px}
* html .ui-tooltip-titlebar .ui-state-default{top:16px}
.ui-tooltip-titlebar .ui-icon,.ui-tooltip-icon .ui-icon{display:block;text-indent:-1000em}
.ui-tooltip-icon,.ui-tooltip-icon .ui-icon{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;text-decoration:none}
.ui-tooltip-icon .ui-icon{width:18px;height:14px;text-align:center;text-indent:0;font:normal bold 10px/*/13px*/ Tahoma,sans-serif;color:inherit;background:transparent none no-repeat -100em -100em}
.ui-tooltip-default{background-color:#FFFFA3;color:#555;border-color:#F1D031}
.ui-tooltip-default .ui-tooltip-titlebar{background-color:#FFEF93}
.ui-tooltip-default .ui-tooltip-icon{background:#F1F1F1;color:#777;border-color:#CCC}
.ui-tooltip-default .ui-tooltip-titlebar .ui-state-hover{color:#111;border-color:#AAA}
#qtip-overlay{position:fixed;left:-10000em;top:-10000em}
#qtip-overlay.blurs{cursor:pointer}
#qtip-overlay div{position:absolute;left:0;top:0;width:100%;height:100%;background-color:#000;opacity:0.7; /* filter:alpha(opacity=70);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70) */}
.ui-tooltip .ui-tooltip-tip{overflow:hidden;z-index:10;margin:0 auto}
.ui-tooltip .ui-tooltip-tip,.ui-tooltip .ui-tooltip-tip *{position:absolute;line-height:.1px!important;font-size:.1px!important;color:#123456;background:transparent;border:0 dashed transparent}
.ui-tooltip .ui-tooltip-tip canvas{top:0;left:0}
.ui-tooltip-shadow{-webkit-box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15);-moz-box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15);box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15)}
.ui-tooltip-rounded,.ui-tooltip-tipsy,.ui-tooltip-bootstrap{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.ui-tooltip:not(.ie9haxors) div.ui-tooltip-content,.ui-tooltip:not(.ie9haxors) div.ui-tooltip-titlebar{ /*filter:none;-ms-filter:none */}