﻿@model MVC3.Models.PLLogon

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Log In</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "login" }))
{
    @Html.ValidationSummary(true)
        <fieldset>
            <legend>Login</legend>

            <div class="editor-label">
              @ViewBag.message
            </div>
            
            <div class="editor-label">
                E-mail Address :
            </div>
            <div class="editor-field">
                @Html.TextBox("email", "")
                @Html.ValidationMessageFor(model => model.email) 
            </div>
            
            <div class="editor-label">
                Password:
            </div>
            <div class="editor-field">
                @Html.Password("password", "")
                @Html.ValidationMessageFor(model => model.password) 
            </div>
            <p>
                <input type="submit" value="Login" />
            </p>
        </fieldset>
}



