<html>
<body>
<div id="page-content">
<table border="1">
<tr>
        <th>Specializations</th>
        <th>Applicants</th>
        <th># of Applicants</th>
        <th></th>
</tr>
<% Specialization.includes(:applicants).all.each do |s|%>
<tr>
<td align="center"><%=s.name%></td>
<td align="center">
	<%= render :partial => "printtable", :locals => {:s => s}%>
</td>
<td align="center"><%= render :partial => "printcount", :locals => {:s => s} %></td>
<td><%= button_to "Refresh", {:action => "refresh", :id => s},:remote=>true %></td>
</tr>
<%end%>
</table>
</div>
</body>
</html>
